<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="debug-screens">
    <!--Footer starts-->

    <footer class="text-gray-600 bg-gray-100 body-font">
      <div class="h-1.5 iied-gradient"></div>
      <div class="bg-white">
        <div class="container px-5 py-8 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center md:text-left">
            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
              <h2 class="mb-3 text-base text-gray-900 font-mediu title-font">
                Find us and contact
              </h2>
              <p>
                el gran sueño<br />
                Caspio la Vega<br />
                33534 Pintueles<br />
                Asturias<br />
                España
              </p>
              <p>
                Detailed directions<br />
                Google map link
              </p>
            </div>

            <div class="w-full px-4 lg:w-1/4 md:w-1/2">
              <h2 class="mb-3 text-base font-medium text-gray-900 title-font">
                Sign up to our newsletter for all the latest news and offers
              </h2>
              <div>form</div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Footer ends -->
  </body>
</html>
