<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind EGS</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="debug-screens">
    <header class="text-gray-600 bg-white body-font">
      <div
        class="container flex flex-col flex-wrap items-center p-4 mx-auto border-b border-gray-200 md:flex-row"
      >
        <a
          class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0"
          >la</a
        >
        <nav
          class="flex flex-wrap items-center justify-center text-base md:mr-auto md:ml-4 md:py-1 md:pl-4"
        >
          <a class="mr-5 hover:text-gray-900">Rooms</a>
          <a class="mr-5 hover:text-gray-900">Apartments</a>
          <a class="mr-5 hover:text-gray-900">Dining</a>
          <a class="mr-5 hover:text-gray-900">Offers</a>
          <a class="mr-5 hover:text-gray-900">Experiences</a>
          <a class="mr-5 hover:text-gray-900">About</a>
        </nav>
        <div>English Español</div>
      </div>
    </header>

    <div>
      <a href="#_" class="relative inline-block px-4 py-2 font-medium group">
        <span
          class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
        ></span>
        <span
          class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
        ></span>
        <span class="relative text-black group-hover:text-white">Button</span>
      </a>
    </div>
    <div>
      <a href="#_" class="relative px-6 py-3 font-bold text-black group">
        <span
          class="absolute inset-0 w-full h-full transition duration-300 ease-out transform -translate-x-2 -translate-y-2 bg-red-300 group-hover:translate-x-0 group-hover:translate-y-0"
        ></span>
        <span
          class="absolute inset-0 w-full h-full border-4 border-black"
        ></span>
        <span class="relative">Button</span>
      </a>
    </div>
  </body>
</html>
