<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind EGS</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="debug-screens">
    <div
      class="py-24 main bg-gradient-to-br from-light-bg via-v-light-bg to-light-bg"
    >
      <!-- 2 col grid -->

      <div class="container grid gap-4 md:grid-flow-col md:grid-cols-2">
        <div class="col-span-1 p-8 bg-white border border-gray-300">
          <h1 class="mb-6">terraza</h1>
          <p class="mb-6">€139 - €254 per night, breakfasts and tax included</p>
          <p>
            ‘Terraza’ immerses you in the slow pace of the España Verde. Awake
            to birdsong and the gentle toll of cowbells; inhale the crisp
            mountain air, then watch the mist rise over the Sierra del Sueve and
            the Picos de Europa mountain ranges from a private terrace inspired
            by traditional Asturian balconies. Decorated in muted tones with a
            ceiling rising to four metres – and with graceful, sculptural
            furniture by modernist designers Eileen Gray and Eero Saarinen –
            this is a space in which to reset and find stillness.
          </p>
        </div>
        <div class="col-span-1 p-8 bg-white border border-gray-300">
          <img
            class=""
            src="https://source.unsplash.com/random/900×700/?room"
            alt=""
          />

          <img
            class=""
            src="https://source.unsplash.com/random/700×700/?room"
            alt=""
          />

          <img
            class=""
            src="https://source.unsplash.com/random/300×400/?room"
            alt=""
          />
        </div>
      </div>

      <div class="py-24"></div>
    </div>
  </body>
</html>
